# Rust
/target/

# Editor/IDE
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db

# Swap/backup files
*.swp
*.*~


venv/

# Training outputs and datasets
/checkpoints/
/data/
/resources/nnue.bin
*.epd
*.binpack
*.binpack.meta
