name: Tests

on:
  push:
    paths:
      - 'Rudim/**'
      - 'Rudim.Test/**'
      - 'Rudim.sln'
      - '.github/workflows/pipeline.yaml'
    branches: [ main ]
  pull_request:
    paths:
      - 'Rudim/**'
      - 'Rudim.Test/**'
      - 'Rudim.sln'
      - '.github/workflows/pipeline.yaml'
    branches: [ main ]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - name: Setup .NET
      uses: actions/setup-dotnet@v1
      with:
        dotnet-version: 6.0.x
    - name: Restore dependencies
      run: dotnet restore
    - name: Build
      run: dotnet build --no-restore -c Release
    - name: Test
      run: dotnet test --no-build --verbosity normal -c Release
    - name: Benchmark
      working-directory: Rudim
      run: |
        dotnet run -c Release --benchmark
        echo "$(cat BenchmarkDotNet.Artifacts/results/Rudim.NegamaxBenchmark-report-github.md)" >> $GITHUB_STEP_SUMMARY
