name: Tests

on:
  push:
    paths:
      - 'Rudim/**'
      - 'Rudim.Test/**'
      - 'Rudim.sln'
      - '.github/workflows/pipeline.yml'
    branches: [ main ]
  pull_request:
    paths:
      - 'Rudim/**'
      - 'Rudim.Test/**'
      - 'Rudim.sln'
      - '.github/workflows/pipeline.yml'
    branches: [ main ]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - name: Setup .NET
      uses: actions/setup-dotnet@v4
      with:
        global-json-file: global.json
    - name: Restore dependencies
      run: dotnet restore
    - name: Build
      run: dotnet build --no-restore -c Release
    - name: Test
      run: dotnet test --no-build --verbosity normal -c Release
    - name: Benchmark
      working-directory: Rudim
      run: |
        dotnet run -c Release --benchmark
        echo "$(cat BenchmarkDotNet.Artifacts/results/Rudim.Benchmark-report-github.md)" >> $GITHUB_STEP_SUMMARY

  tournament:
    needs: build
#    if: github.event_name == 'push' && github.ref == 'refs/heads/main'
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2

    - name: Setup .NET
      uses: actions/setup-dotnet@v4
      with:
        global-json-file: global.json

    - name: Build Latest Rudim
      working-directory: Rudim
      run: dotnet publish -c Release -p:PublishProfile=FolderProfile

    - name: Download Stable Rudim
      run: |
        mkdir -p stable-rudim
        wget https://github.com/znxftw/rudim/releases/latest/download/linux-x64.tar.gz
        tar xzf linux-x64.tar.gz -C stable-rudim/
        chmod +x stable-rudim/Rudim

    - name: Download Fastchess and Openings
      run: |
        # Download and setup fastchess
        wget https://github.com/Disservin/fastchess/releases/download/v1.1.0-alpha/fastchess-ubuntu-22.04.zip
        unzip -o fastchess-ubuntu-22.04.zip
        chmod +x fastchess-ubuntu-22.04

        # Download and extract openings book
        wget https://github.com/official-stockfish/books/raw/master/8moves_v3.pgn.zip
        unzip 8moves_v3.pgn.zip

    - name: Run Tournaments
      run: |
        # 1+0.1 Tournament
        ./fastchess-ubuntu-22.04 -engine cmd=./stable-rudim/Rudim name="Stable Rudim" -engine cmd=./Rudim/bin/Release/net9.0/publish/Rudim name="Current Rudim" \
          -games 50 -each tc=1+0.1 -concurrency 4 -openings file=8moves_v3.pgn format=pgn

        # 2+0.1 Tournament
        ./fastchess-ubuntu-22.04 -engine cmd=./stable-rudim/Rudim name="Stable Rudim" -engine cmd=./Rudim/bin/Release/net9.0/publish/Rudim name="Current Rudim" \
          -games 50 -each tc=2+0.1 -concurrency 4 -openings file=8moves_v3.pgn format=pgn

        # 5+0 Tournament
        ./fastchess-ubuntu-22.04 -engine cmd=./stable-rudim/Rudim name="Stable Rudim" -engine cmd=./Rudim/bin/Release/net9.0/publish/Rudim name="Current Rudim" \
          -games 50 -each tc=5 -concurrency 4 -openings file=8moves_v3.pgn format=pgn